### Experiments

In [20]:
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi

In [22]:
api = KaggleApi()

In [66]:
# import glob,os

In [67]:
# all_files = glob.glob(os.path.join(destination_path_vc, "investments_VC.csv"))

In [76]:
# import chardet
# with open(all_files[0], 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [82]:
# # Read the files into dataframes
# dfs = [pd.read_csv(f,encoding="ISO-8859-1") for f in all_files]

# # Combine the list of dataframes
# df = pd.concat(dfs, ignore_index=True)

In [97]:
df_vc = pd.read_csv(os.path.join(destination_path_vc, "investments_VC.csv"),encoding="ISO-8859-1")
df_gdp = pd.read_csv(os.path.join(destination_path_gdp, "Life Expectancy vs GDP 1950-2018.csv"),encoding="ISO-8859-1")

In [92]:
df_vc.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
df_vc.country_code.unique()

array(['USA', 'EST', 'GBR', 'ARG', nan, 'HKG', 'CHL', 'DEU', 'FRA', 'CHN',
       'CAN', 'AUS', 'ROM', 'NLD', 'SWE', 'RUS', 'DNK', 'IND', 'SGP',
       'NOR', 'BEL', 'IRL', 'ITA', 'ISR', 'ESP', 'THA', 'NZL', 'CZE',
       'CHE', 'BRA', 'HUN', 'JPN', 'BWA', 'KOR', 'NGA', 'FIN', 'TUR',
       'CRI', 'PRT', 'TWN', 'KHM', 'COL', 'UKR', 'LTU', 'ZAF', 'AUT',
       'PHL', 'ISL', 'BGR', 'URY', 'HRV', 'KEN', 'MEX', 'JOR', 'VNM',
       'GHA', 'PER', 'POL', 'IDN', 'PAN', 'LVA', 'ALB', 'UGA', 'LBN',
       'GRC', 'ARE', 'PAK', 'EGY', 'SVK', 'LUX', 'MYS', 'BHS', 'ARM',
       'DZA', 'MDA', 'TUN', 'NIC', 'TZA', 'CYP', 'NPL', 'BHR', 'CMR',
       'SRB', 'SAU', 'CYM', 'BRN', 'SLV', 'ECU', 'MLT', 'SVN', 'LAO',
       'TTO', 'MAR', 'MMR', 'BGD', 'DOM', 'BMU', 'LIE', 'MOZ', 'GTM',
       'AZE', 'MCO', 'ZWE', 'UZB', 'OMN', 'BLR', 'JEY', 'JAM', 'KWT',
       'MUS', 'CIV', 'SOM', 'MKD', 'GIB', 'SYC', 'MAF'], dtype=object)

In [98]:
df_gdp.head()

,Country,Year,Life expectancy,GDP per capita,Population (historical estimates),Continent
0,Afghanistan,1950,27.638,1156.0,7752117.0,Asia
1,Afghanistan,1951,27.878,1170.0,7840151.0,Asia
2,Afghanistan,1952,28.361,1189.0,7935996.0,Asia
3,Afghanistan,1953,28.852,1240.0,8039684.0,Asia
4,Afghanistan,1954,29.350,1245.0,8151316.0,Asia

In [100]:
df_gdp.Continent.unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [107]:
import pandas as pd
df = pd.read_excel('https://query.data.world/s/qoe7sye64wcaydmefdymxwnbyg6fnh?dws=00000',sheet_name=1)

In [108]:
df.columns

Index(['Category', 'varShort', 'varLong', 'Map'], dtype='object')

In [109]:
%%time
dfs_urban=[]
for i in range(7):
    dfs_urban.append(pd.read_excel('https://query.data.world/s/qoe7sye64wcaydmefdymxwnbyg6fnh?dws=00000',sheet_name=i))

In [116]:
dfs_urban[5]

,FIPStxt,State,County,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,RuralUrbanContinuumCode2003,UrbanInfluenceCode2003,Metro2013,Nonmetro2013,Micropolitan2013,...,LowEducation2000,HiOutMigration2008,Noncore2013,NonmetroNotAdj2003,NonmetroAdj2003,Noncore2003,Micropolitan2003,Nonmetro2003,Metro2003,PersistentPoverty2000
0,1001,AL,Autauga,2.0,2.0,2.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1003,AL,Baldwin,3.0,2.0,4.0,5.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,1005,AL,Barbour,6.0,6.0,6.0,6.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
3,1007,AL,Bibb,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1009,AL,Blount,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3220,72145,PR,Vega Baja,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
3221,72147,PR,Vieques,7.0,12.0,7.0,12.0,0.0,1.0,0.0,...,NaN,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,NaN
3222,72149,PR,Villalba,2.0,2.0,2.0,2.0,1.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
3223,72151,PR,Yabucoa,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
3224,72153,PR,Yauco,2.0,2.0,3.0,2.0,1.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN

In [119]:
dfs_urban[1][dfs_urban[1]['varShort']=="LowEducation2000"]

                   Category          varShort              varLong Map
146  County Classifications  LowEducation2000  Low education, 2000   y

https://www.kaggle.com/datasets/sergejnuss/united-states-cities-database  no urban density available
https://www.kaggle.com/datasets/claygendron/us-household-income-by-zip-code-2021-2011
https://www.kaggle.com/datasets/danielbethell/adult-incomes-in-the-united-states?select=adult.data

https://population.un.org/wup/Download/Files/WUP2018-F01-Total_Urban_Rural.xls

https://www.kaggle.com/datasets/ramjasmaurya/unicorn-startups    2007-2022

https://api.census.gov/data/2023/acs/acs1/subject?get=group(S1501)&ucgid=0100000US

In [132]:
import pandas as pd
df_ea = pd.read_excel('https://query.data.world/s/flhwzvova4hwvxlsaraeblo3ra3hhe?dws=00000')

In [194]:
df_ea.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,numerator,denominator,estimate,LL_95CI,UL_95CI,SE,RSE,CA_decile,CA_RR,version
0,355,Percent of population age 25 and up with a fou...,2000,3.0,AfricanAm,CA,6,California,NaN,NaN,...,224727.0,1302388.0,17.3,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
1,355,Percent of population age 25 and up with a fou...,2000,1.0,AIAN,CA,6,California,NaN,NaN,...,15746.0,113984.0,13.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
2,355,Percent of population age 25 and up with a fou...,2000,2.0,Asian,CA,6,California,NaN,NaN,...,1008647.0,2415154.0,41.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
3,355,Percent of population age 25 and up with a fou...,2000,4.0,Latino,CA,6,California,NaN,NaN,...,425972.0,5500767.0,7.7,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
4,355,Percent of population age 25 and up with a fou...,2000,7.0,Multiple,CA,6,California,NaN,NaN,...,133828.0,499849.0,26.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018

In [137]:
df_ea.columns

Index(['ind_id', 'ind_definition', 'reportyear', 'race_eth_code',
       'race_eth_name', 'geotype', 'geotypevalue', 'geoname', 'county_name',
       'county_fips', 'region_name', 'region_code', 'strata_one_code',
       'strata_one_name', 'strata_two_code', 'strata_two_name', 'numerator',
       'denominator', 'estimate', 'LL_95CI', 'UL_95CI', 'SE', 'RSE',
       'CA_decile', 'CA_RR', 'version'],
      dtype='object')

In [142]:
df_ea.estimate.unique()

array([17.3       , 13.8       , 41.8       , ..., 33.69111273,
       41.49287898, 38.17125743])

In [144]:
import censusdata

In [526]:
# df_census = censusdata.download("acs5",2022, censusdata.censusgeo([('nation', '010')]),["010XX00US","$8600000"])

### ETL pipeline

In [274]:
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()

dataset_name = "arindam235/startup-investments-crunchbase"

destination_path_vc = "../data/startup_VCs/"

# destination_path_gdp = "../data/gdp/"
destination_path_hh_income = "../data/household_income/"
destination_path_unicorn_startups = "../data/unicorn-startups/"
destination_path_us_cities = "../data/us_cities/"

In [275]:
# # Download dataset
# api.dataset_download_files("arindam235/startup-investments-crunchbase", path=destination_path_vc, unzip=True,force=True)
## api.dataset_download_files("luxoloshilofunde/life-expectancy-vs-gdp-19502018", path=destination_path_gdp, unzip=True,force=True)
# api.dataset_download_files("claygendron/us-household-income-by-zip-code-2021-2011", path=destination_path_hh_income, unzip=True,force=True)
# api.dataset_download_files("ramjasmaurya/unicorn-startups", path=destination_path_unicorn_startups, unzip=True,force=True)
api.dataset_download_files("sergejnuss/united-states-cities-database", path=destination_path_us_cities, unzip=True,force=True)

Dataset URL: https://www.kaggle.com/datasets/sergejnuss/united-states-cities-database

In [276]:
df_vc = pd.read_csv(os.path.join(destination_path_vc, "investments_VC.csv"),encoding="ISO-8859-1")
# df_gdp = pd.read_csv(os.path.join(destination_path_gdp, "Life Expectancy vs GDP 1950-2018.csv"),encoding="ISO-8859-1")
df_hhi = pd.read_csv(os.path.join(destination_path_hh_income, "us_income_zipcode.csv"),encoding="ISO-8859-1")
df_ucs = pd.read_csv(os.path.join(destination_path_unicorn_startups, "unicorns till sep 2022.csv"),encoding="ISO-8859-1",parse_dates=[3])
df_us_cities = pd.read_csv(os.path.join(destination_path_us_cities, "uscities.csv"),encoding="ISO-8859-1")

In [552]:
df_vc.columns
vc_columns_to_drop = ['permalink','homepage_url','first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H']
df_vc.rename(columns={' market ':"market",' funding_total_usd ':"funding_total_usd"},inplace=True)

Index(['permalink', 'name', 'homepage_url', 'category_list', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [285]:
df_us_cities['zips'] = df_us_cities.zips.str.split()

In [290]:
df_us_cities = df_us_cities.drop(["source","military","incorporated","timezone","ranking","id"],axis=1)

In [330]:
df_ucs['joined_date'] = pd.to_datetime(df_ucs['Date Joined'])

In [339]:
df_ucs.rename(columns={ df_ucs.columns[4]: "city" }, inplace = True)

C:\Users\Chris\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [338]:
df_ucs = df_ucs[df_ucs.Country=="United States"]

In [267]:
df_ucs.reset_index(drop=True, inplace=True)

In [291]:
df_ucs.head()

,Company,Valuation ($B),Date Joined,Country,CityÃ‚,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [297]:
hhi_columns_to_drop = []
for i in df_hhi.columns:
    if "Error" in i:
        hhi_columns_to_drop.append(i)

In [299]:
df_hhi.drop(hhi_columns_to_drop,axis=1,inplace=True)

In [327]:
df_hhi = df_hhi[list(df_hhi.columns[:16]) + list(df_hhi.columns[-1:])]

In [342]:
df_ucs.Industry.unique()

array(['Other', 'Fintech', 'Supply chain, logistics, & delivery',
       'Data management & analytics', 'E-commerce & direct-to-consumer',
       'Internet software & services', 'Health',
       'Artificial intelligence', 'Consumer & retail', 'Cybersecurity',
       'Mobile & telecommunications', 'Auto & transportation', 'Travel',
       'Hardware', 'Edtech', 'Artificial Intelligence'], dtype=object)

In [368]:
# df_us_cities[df_us_cities['zips'].apply(lambda x: isinstance(x, list) and "00601" in x if x is not None else False)]

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,zips
7329,Adjuntas,Adjuntas,PR,Puerto Rico,72001,Adjuntas,18.1638,-66.7235,4258,2192,[00601]

In [370]:
df_us_cities_zip = df_us_cities.explode("zips")

In [371]:
df_us_cities_zip[df_us_cities_zip['zips']=="00601"]

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,zips
7329,Adjuntas,Adjuntas,PR,Puerto Rico,72001,Adjuntas,18.1638,-66.7235,4258,2192,00601

In [ ]:
# df_hhi.ZIP.apply(lambda x: str(x).zfill(5))

In [385]:
df_hhi['zip_code'] = df_hhi.ZIP.astype(str).str.zfill(5)

C:\Users\Chris\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [401]:
len(set(df_us_cities.city.unique()).intersection(set(df_ucs.city.unique())))

126

In [398]:
len(df_us_cities.city.unique()),len(df_ucs.city.unique())

(19090, 133)

In [ ]:
df_us_cities=df_us_cities.iloc[df_us_cities.groupby('city')['population'].idxmax()]

In [458]:
final_df = pd.merge(df_ucs, df_us_cities, on='city', how='inner')

In [459]:
columns_to_drop = ["Investors","Date Joined"]

final_df.drop(columns=columns_to_drop,inplace=True)

In [460]:
final_df

,Company,Valuation ($B),Country,city,Industry,founded_date,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,zips
0,SpaceX,$127,United States,Hawthorne,Other,2012-12-01,Hawthorne,CA,California,6037,Los Angeles,33.9146,-118.3476,86068,5463,"[90250, 90251, 90310]"
1,Epirus,$1.35,United States,Hawthorne,Other,2022-02-14,Hawthorne,CA,California,6037,Los Angeles,33.9146,-118.3476,86068,5463,"[90250, 90251, 90310]"
2,Stripe,$95,United States,San Francisco,Fintech,2014-01-23,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
3,Instacart,$39,United States,San Francisco,"Supply chain, logistics, & delivery",2014-12-30,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
4,Databricks,$38,United States,San Francisco,Data management & analytics,2019-02-05,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,Tarana Wireless,$1,United States,Milpitas,Mobile & telecommunications,2022-03-23,Milpitas,CA,California,6085,Santa Clara,37.4339,-121.8921,84196,2381,[95035]
623,Genies,$1,United States,Venice,Internet software & services,2022-04-12,Venice,FL,Florida,12115,Sarasota,27.1163,-82.4135,23985,614,"[34285, 34292, 34275]"
624,Divergent 3D,$1,United States,Torrance,Auto & transportation,2022-04-25,Torrance,CA,California,6037,Los Angeles,33.8346,-118.3417,143592,2701,"[90277, 90501, 90503, 90505, 90504, 90507, 905..."
625,JupiterOne,$1,United States,Morrisville,Cybersecurity,2022-06-02,Morrisville,NC,North Carolina,37183,Wake,35.8367,-78.8348,28846,1277,[27560]
626,Unstoppable Domains,$1,United States,Las Vegas,Internet software & services,2022-07-27,Las Vegas,NV,Nevada,32003,Clark,36.2333,-115.2654,2104198,1773,"[89107, 89106, 89104, 89102, 89101, 89108, 891..."

In [468]:
df_hhi.drop(columns=["ZIP"],inplace=True)

In [496]:
final_df_exploded = final_df.explode('zips').rename(columns={'zips': 'zip_code'})

In [495]:
merged_df = df_hhi.merge(final_df_exploded, on='zip_code', how='inner')

In [511]:
final_merged_city_hhi_vc = merged_df.groupby("Company").first()

In [518]:
final_merged_city_hhi_vc = final_merged_city_hhi_vc.reset_index()

In [520]:
final_merged_city_hhi_vc.describe()

,Households,"Households Less Than $10,000","Households $10,000 to $14,999","Households $15,000 to $24,999","Households $25,000 to $34,999","Households $35,000 to $49,999","Households $50,000 to $74,999","Households $75,000 to $99,999","Households $100,000 to $149,999","Households $150,000 to $199,999","Households $200,000 or More",Households Median Income (Dollars),Households Mean Income (Dollars),Year,county_fips,lat,lng,population,density
count,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.00000,625.0,625.000000,625.000000,625.000000,6.250000e+02,625.000000
mean,14008.745600,5.871200,6.300000,6.020640,5.322880,8.228000,12.161600,9.608160,15.048800,9.813600,21.648640,97927.641600,151869.41280,2021.0,18553.889600,38.199574,-103.517764,5.348962e+06,5373.150400
std,6243.311965,3.098682,5.383784,3.054144,2.913151,3.386796,4.085367,3.031065,3.419927,3.058446,13.536627,49014.974765,76291.30976,0.0,15667.238197,3.529168,21.743809,6.640189e+06,3554.892624
min,0.000000,0.000000,0.000000,0.600000,1.300000,0.000000,0.000000,3.900000,3.400000,0.000000,0.000000,21180.000000,45103.00000,2021.0,4013.000000,25.539600,-122.650000,4.340000e+02,78.000000
25%,9685.000000,3.300000,2.000000,3.900000,3.300000,6.500000,11.200000,7.400000,12.300000,8.100000,14.100000,55888.000000,104087.00000,2021.0,6075.000000,37.400000,-122.443000,1.243450e+05,1792.000000
50%,14273.000000,7.200000,3.400000,5.400000,5.200000,8.400000,11.600000,9.400000,14.900000,10.300000,19.300000,100771.000000,134321.00000,2021.0,6085.000000,37.756200,-118.406800,3.592294e+06,5532.000000
75%,19213.000000,7.500000,14.500000,8.900000,6.500000,9.200000,12.900000,11.200000,16.900000,11.500000,25.200000,110536.000000,170154.00000,2021.0,36061.000000,40.694300,-74.027900,5.449398e+06,7256.000000
max,37699.000000,26.100000,16.100000,18.600000,28.800000,20.700000,27.800000,18.800000,30.800000,27.600000,61.200000,250000.000000,508208.00000,2021.0,55025.000000,48.754300,-71.018300,1.871322e+07,16268.000000

In [ ]:
final_merged_city_hhi_vc

In [492]:
# final_df_exploded

In [493]:
# df_hhi

### Final ETL Script

In [585]:
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi
import os
import logging

# Configure logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

class ETLPipeline:
    
    def __init__(self):
        self.datasets = [
            "arindam235/startup-investments-crunchbase",
            "claygendron/us-household-income-by-zip-code-2021-2011",
            "ramjasmaurya/unicorn-startups",
            "sergejnuss/united-states-cities-database"
        ]

        self.source_file_paths = [
         "../data/startup_VCs/",
         "../data/household_income/",
         "../data/unicorn-startups/",
         "../data/us_cities/"]
        
        self.kaggle_encoding = "ISO-8859-1"
        self.csv_names = [  "investments_VC.csv",
                            "us_income_zipcode.csv",
                            "unicorns till sep 2022.csv",
                            "uscities.csv",
                         ]

        self.final_data_file_name = "startups_household_income_metropolitan_area.csv"
        

    def extract(self,del_tmp_files):
        """Extract data from online sources/apis in dataframe and return pandas dataframes for each file"""
        try:
            api = KaggleApi()
            # Download the dataset from Kaggle
            for i,dataset in enumerate(self.datasets):
                try:
                    api.dataset_download_files(self.datasets[i], path=self.source_file_paths[i], unzip=True,force=True)
                except Exception as e:
                    logging.error(f"Failed to download data from {dataset}: {e}")
                    raise
            logging.info(f"Successfully downloaded data files")
            
            dfs = []
            for i,dataset in enumerate(self.datasets):
                try:
                    dfs.append(pd.read_csv(os.path.join(self.source_file_paths[i], self.csv_names[i]),encoding=self.kaggle_encoding))
                except Exception as e:
                    logging.error(f"Failed to create dataframe for {self.csv_names[i]}: {e}")
                    raise
            logging.info(f"Successfully created dataframes from files")
            
            
            # Cleanup temporary files and folders after loading the data in dataframes
            if del_tmp_files:
                logging.info(f"Removing the temporary files and folders")
                for i,dataset in enumerate(self.source_file_paths):
                    # Remove the raw csv files
                    try:
                        os.remove(os.path.join(self.source_file_paths[i], self.csv_names[i]))
                        os.rmdir(self.source_file_paths[i])
                        logging.info(f"Successfully removed temporary source file: {os.path.join(self.source_file_paths[i], self.csv_names[i])}")
                    except Exception as e:
                        logging.error(f"Failed to remove temporary file {os.path.join(self.source_file_paths[i], self.csv_names[i])}: {e}")
            
            df_vc, df_hhi, df_ucs, df_us_cities = dfs[0],dfs[1],dfs[2],dfs[3]
            return df_vc, df_hhi, df_ucs, df_us_cities
        
        except Exception as e:
            logging.error(f"An error occurred during extraction: {e}")
            raise

    def transform(self, df_vc, df_hhi, df_ucs, df_us_cities):
        """Apply df specific transformations on dataframe and join them"""
        try:
            
            # ----------------------------------------------------------------------------------------
            # DataSource-1: VC data
            # ----------------------------------------------------------------------------------------
            try:
                vc_columns_to_drop = ['permalink','homepage_url','first_funding_at',
                                   'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
                                   'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
                                   'private_equity', 'post_ipo_equity', 'post_ipo_debt',
                                   'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
                                   'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H']
                df_vc.rename(columns={' market ':"market",' funding_total_usd ':"funding_total_usd"},inplace=True)
                df_vc.drop(vc_columns_to_drop,inplace=True,axis=1)
            except Exception as e:
                logging.error(f"Failed to transform 'VC' data: {e}")
            
            
            # ----------------------------------------------------------------------------------------
            # DataSource-2: US household_income data
            # ----------------------------------------------------------------------------------------
            try:
                hhi_columns_to_drop = []
                for i in df_hhi.columns:
                    if "Error" in i:
                        hhi_columns_to_drop.append(i)

                df_hhi.drop(hhi_columns_to_drop,axis=1,inplace=True)

                df_hhi = df_hhi[list(df_hhi.columns[:16]) + list(df_hhi.columns[-1:])]
                # df_hhi['zip_code'] = df_hhi.ZIP.astype(str).str.zfill(5)
                df_hhi['zip_code'] = df_hhi.ZIP.apply(lambda x: str(x).zfill(5))
                df_hhi.drop(columns=["ZIP"],inplace=True)

            except Exception as e:
                logging.error(f"Failed to transform 'Household Income' data: {e}")
                              
            
            # ----------------------------------------------------------------------------------------
            # DataSource-3: US unicorn startups data
            # ----------------------------------------------------------------------------------------
                              
            try:
                ucs_columns_to_drop = ["Investors","Date Joined"]
                df_ucs = df_ucs[df_ucs.Country=="United States"]
                df_ucs['joined_date'] = pd.to_datetime(df_ucs['Date Joined'])
                df_ucs.rename(columns={ df_ucs.columns[4]: "city" }, inplace = True)
                df_ucs.drop(columns=ucs_columns_to_drop,inplace=True)
                df_ucs.reset_index(drop=True, inplace=True)
            except Exception as e:
                logging.error(f"Failed to transform 'US unicorn startups' data: {e}")
            # ----------------------------------------------------------------------------------------
            # DataSource-4: US cities database
            # ----------------------------------------------------------------------------------------

            try:
                us_cities_columns_to_drop = ["source","military","incorporated","timezone","ranking","id"]
                df_us_cities['zips'] = df_us_cities.zips.str.split()
                df_us_cities = df_us_cities.drop(us_cities_columns_to_drop,axis=1)
                ## city name is not unique and can have multiple instances in US so for joining it with other 
                ## have to select most populated one.
                df_us_cities=df_us_cities.iloc[df_us_cities.groupby('city')['population'].idxmax()]
            except Exception as e:
                logging.error(f"Failed to transform 'US cities' data: {e}")                              
                              
            # ----------------------------------------------------------------------------------------
            # Transformation --> Merging DataSource-3 & DataSource-4 to combine regional and population related details
            transformed_df_ucs_us_cities = pd.merge(df_ucs, df_us_cities, on='city', how='inner')
            transformed_df_ucs_us_cities = transformed_df_ucs_us_cities.explode('zips').rename(columns={'zips': 'zip_code'})
            
            # Transformation --> Merging DataSource-2 & cities transformed data to add US houesehold income details with metropolitan area mapping
            transformed_df = df_hhi.merge(transformed_df_ucs_us_cities, on='zip_code', how='inner')
            # Due to exploding of cities dataframe with zip codes there is duplication in data. To remove duplication:
            transformed_df = transformed_df.groupby("Company").first()

            transformed_df = transformed_df.reset_index()

            # transformed_city_hhi_vc.describe()

            return transformed_df
        
        except Exception as e:
            logging.error(f"An error occurred during transformation: {e}")
            raise

    def load(self, transformed_df, destination_path):
        try:

            final_file_path = os.path.join(destination_path,self.final_data_file_name)
            transformed_df.to_csv(final_file_path,index=False)
        except Exception as e:
            logging.error(f"An error occurred while writing df to file: {e}")
            raise

        return None           
            
        
    def run(self,del_tmp_files=False):
        try:
            df_vc, df_hhi, df_ucs, df_us_cities = self.extract(del_tmp_files)
            logging.info("Extraction completed.")
            
            transformed_df = self.transform(df_vc, df_hhi, df_ucs, df_us_cities)
            logging.info("Transformation completed.")
                              
            transformed_data_destination = os.path.join(os.path.split(os.getcwd())[0],"data")
            self.load(transformed_df, transformed_data_destination)
            logging.info("ETL process completed successfully.")
            return transformed_df

        except Exception as e:
            logging.error(f"An error occurred during the ETL process: {e}")
            raise


# Running the ETL pipeline
if __name__ == "__main__":
    etl = ETLPipeline()
    transformed_df = etl.run(del_tmp_files=True)

Dataset URL: https://www.kaggle.com/datasets/arindam235/startup-investments-crunchbase

2024-11-14 13:09:54,716 WARNING Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /kaggle-data-sets/517018/952128/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20241114%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20241114T120954Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=9fa0734701285277144163ab479d2a53dd6d92ae84aef9901b346fed6ce2ef137aae7dea687d83d8a46f85ba06e32c87b980728838ff6f83f25ea2674e43f7882a714f8baac0779527c452dc6a8daeadb995e6aeff0f4b8fd4d12cc34c78af0f123f8666c2c86676970bf950788bc3eea67a0e155a7c81723cd2c9176b50f289c2fe2a056fa3f3d181864eecd7c0972085423e099e4ca1d0f2981e41148dec827d99d9644df50dd789a6932419764b65e49c2a3998f1b1073ab36b633212a953a72cad4e4b391be4a6ad7c7134b7621e79c3249aa7b6b994e4df864167571688c072731f59a882c19a3204faf0306aeb6a7c33d42fa6043e150ee0494bf4d18c
2024-11-14 13:09:54,716 - WARNING - Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /kaggle-data-sets/517018/952128/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20241114%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20241114T120954Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=9fa0734701285277144163ab479d2a53dd6d92ae84aef9901b346fed6ce2ef137aae7dea687d83d8a46f85ba06e32c87b980728838ff6f83f25ea2674e43f7882a714f8baac0779527c452dc6a8daeadb995e6aeff0f4b8fd4d12cc34c78af0f123f8666c2c86676970bf950788bc3eea67a0e155a7c81723cd2c9176b50f289c2fe2a056fa3f3d181864eecd7c0972085423e099e4ca1d0f2981e41148dec827d99d9644df50dd789a6932419764b65e49c2a3998f1b1073ab36b633212a953a72cad4e4b391be4a6ad7c7134b7621e79c3249aa7b6b994e4df864167571688c072731f59a882c19a3204faf0306aeb6a7c33d42fa6043e150ee0494bf4d18c

Dataset URL: https://www.kaggle.com/datasets/claygendron/us-household-income-by-zip-code-2021-2011
Dataset URL: https://www.kaggle.com/datasets/ramjasmaurya/unicorn-startups
Dataset URL: https://www.kaggle.com/datasets/sergejnuss/united-states-cities-database

2024-11-14 13:10:14,986 - INFO - Successfully downloaded data files
2024-11-14 13:10:19,167 - INFO - Successfully created dataframes from files
2024-11-14 13:10:19,167 - INFO - Removing the temporary files and folders
2024-11-14 13:10:19,170 - INFO - Successfully removed temporary source files
2024-11-14 13:10:19,184 - INFO - Successfully removed temporary source files
2024-11-14 13:10:19,185 - INFO - Successfully removed temporary source files
2024-11-14 13:10:19,187 - INFO - Successfully removed temporary source files
2024-11-14 13:10:19,188 - INFO - Extraction completed.
C:\Users\Chris\anaconda3\lib\site-packages\ipykernel_launcher.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Chris\anaconda3\lib\site-packages\ipykernel_launcher.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
2024-11-14 13:10:21,308 - INFO - Transformation completed.
2024-11-14 13:10:21,334 - INFO - ETL process completed successfully.