In [121]:
import pandas as pd

In [122]:
data = pd.read_csv("D:\MS AI\winter 24\MADE\pre_project\investments_VC.csv",encoding='unicode_escape')

In [123]:
data.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
data.founded_year.unique()

array([2012.,   nan, 2011., 2014., 2007., 2010., 1986., 1984., 2013.,
       2001., 2008., 2009., 2000., 2006., 1990., 2004., 2005., 1991.,
       2002., 1998., 2003., 1999., 1997., 1987., 1989., 1979., 1977.,
       1988., 1993., 1992., 1972., 1961., 1994., 1947., 1995., 1996.,
       1983., 1976., 1985., 1981., 1949., 1967., 1974., 1945., 1957.,
       1946., 1975., 1918., 1980., 1958., 1962., 1944., 1982., 1933.,
       1968., 1943., 1966., 1912., 1969., 1978., 1917., 1924., 1973.,
       1971., 1970., 1922., 1930., 1906., 1953., 1913., 1964., 1914.,
       1948., 1963., 1926., 1954., 1955., 1956., 1911., 1960., 1921.,
       1952., 1934., 1910., 1919., 1965., 1959., 1951., 1929., 1905.,
       1941., 1937., 1920., 1925., 1928., 1938., 1950., 1936., 1903.,
       1908., 1902., 1939., 1923., 1907.])

In [131]:
data[~data.founded_year.isna()].founded_year.max()

2014.0

In [6]:
data.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [16]:
data['region']

0        New York City
1          Los Angeles
2              Tallinn
3               London
4               Dallas
             ...
54289              NaN
54290              NaN
54291              NaN
54292              NaN
54293              NaN
Name: region, Length: 54294, dtype: object

### Extract

In [58]:
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi

In [21]:
api = KaggleApi()

In [24]:
# url = "https://www.kaggle.com/datasets/arindam235/startup-investments-crunchbase/data?select=investments_VC.csv"

In [25]:
# parts = url.split('/datasets/')
# dataset_name = parts[-1]

In [41]:
dataset_name="arindam235/startup-investments-crunchbase"

In [87]:
destination_path_vc="../data/startup_VCs/"
destination_path_gdp="../data/gdp/"

In [52]:
# !py -3.7 -m pip install kagglehub

In [88]:
# Download dataset
api.dataset_download_files("arindam235/startup-investments-crunchbase", path=destination_path_vc, unzip=True)
api.dataset_download_files("luxoloshilofunde/life-expectancy-vs-gdp-19502018", path=destination_path_gdp, unzip=True)

Dataset URL: https://www.kaggle.com/datasets/luxoloshilofunde/life-expectancy-vs-gdp-19502018

In [66]:
# import glob,os

In [67]:
# all_files = glob.glob(os.path.join(destination_path_vc, "investments_VC.csv"))

In [76]:
# import chardet
# with open(all_files[0], 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [82]:
# # Read the files into dataframes
# dfs = [pd.read_csv(f,encoding="ISO-8859-1") for f in all_files]

# # Combine the list of dataframes
# df = pd.concat(dfs, ignore_index=True)

In [97]:
df_vc = pd.read_csv(os.path.join(destination_path_vc, "investments_VC.csv"),encoding="ISO-8859-1")
df_gdp = pd.read_csv(os.path.join(destination_path_gdp, "Life Expectancy vs GDP 1950-2018.csv"),encoding="ISO-8859-1")

In [92]:
df_vc.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
df_vc.country_code.unique()

array(['USA', 'EST', 'GBR', 'ARG', nan, 'HKG', 'CHL', 'DEU', 'FRA', 'CHN',
       'CAN', 'AUS', 'ROM', 'NLD', 'SWE', 'RUS', 'DNK', 'IND', 'SGP',
       'NOR', 'BEL', 'IRL', 'ITA', 'ISR', 'ESP', 'THA', 'NZL', 'CZE',
       'CHE', 'BRA', 'HUN', 'JPN', 'BWA', 'KOR', 'NGA', 'FIN', 'TUR',
       'CRI', 'PRT', 'TWN', 'KHM', 'COL', 'UKR', 'LTU', 'ZAF', 'AUT',
       'PHL', 'ISL', 'BGR', 'URY', 'HRV', 'KEN', 'MEX', 'JOR', 'VNM',
       'GHA', 'PER', 'POL', 'IDN', 'PAN', 'LVA', 'ALB', 'UGA', 'LBN',
       'GRC', 'ARE', 'PAK', 'EGY', 'SVK', 'LUX', 'MYS', 'BHS', 'ARM',
       'DZA', 'MDA', 'TUN', 'NIC', 'TZA', 'CYP', 'NPL', 'BHR', 'CMR',
       'SRB', 'SAU', 'CYM', 'BRN', 'SLV', 'ECU', 'MLT', 'SVN', 'LAO',
       'TTO', 'MAR', 'MMR', 'BGD', 'DOM', 'BMU', 'LIE', 'MOZ', 'GTM',
       'AZE', 'MCO', 'ZWE', 'UZB', 'OMN', 'BLR', 'JEY', 'JAM', 'KWT',
       'MUS', 'CIV', 'SOM', 'MKD', 'GIB', 'SYC', 'MAF'], dtype=object)

In [98]:
df_gdp.head()

,Country,Year,Life expectancy,GDP per capita,Population (historical estimates),Continent
0,Afghanistan,1950,27.638,1156.0,7752117.0,Asia
1,Afghanistan,1951,27.878,1170.0,7840151.0,Asia
2,Afghanistan,1952,28.361,1189.0,7935996.0,Asia
3,Afghanistan,1953,28.852,1240.0,8039684.0,Asia
4,Afghanistan,1954,29.350,1245.0,8151316.0,Asia

In [100]:
df_gdp.Continent.unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [102]:
# import requests

# url = "https://api.data.world/agriculture/atlas-ruralsmall-town-america"#"https://api.data.world/v0/file_download/owner/id/file"

# headers = {"accept": "*/*"}

# response = requests.get(url, headers=headers)

# print(response.text)

{"code":404,"request":"9c7f146d-8aa9-4eff-8564-3fe6f96d4fc4","message":"HTTP 404 Not Found"}

In [107]:
import pandas as pd
df = pd.read_excel('https://query.data.world/s/qoe7sye64wcaydmefdymxwnbyg6fnh?dws=00000',sheet_name=1)

In [108]:
df.columns

Index(['Category', 'varShort', 'varLong', 'Map'], dtype='object')

In [109]:
%%time
dfs_urban=[]
for i in range(7):
    dfs_urban.append(pd.read_excel('https://query.data.world/s/qoe7sye64wcaydmefdymxwnbyg6fnh?dws=00000',sheet_name=i))

In [116]:
dfs_urban[5]

,FIPStxt,State,County,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,RuralUrbanContinuumCode2003,UrbanInfluenceCode2003,Metro2013,Nonmetro2013,Micropolitan2013,...,LowEducation2000,HiOutMigration2008,Noncore2013,NonmetroNotAdj2003,NonmetroAdj2003,Noncore2003,Micropolitan2003,Nonmetro2003,Metro2003,PersistentPoverty2000
0,1001,AL,Autauga,2.0,2.0,2.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1003,AL,Baldwin,3.0,2.0,4.0,5.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,1005,AL,Barbour,6.0,6.0,6.0,6.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
3,1007,AL,Bibb,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1009,AL,Blount,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3220,72145,PR,Vega Baja,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
3221,72147,PR,Vieques,7.0,12.0,7.0,12.0,0.0,1.0,0.0,...,NaN,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,NaN
3222,72149,PR,Villalba,2.0,2.0,2.0,2.0,1.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
3223,72151,PR,Yabucoa,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
3224,72153,PR,Yauco,2.0,2.0,3.0,2.0,1.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN

In [119]:
dfs_urban[1][dfs_urban[1]['varShort']=="LowEducation2000"]

                   Category          varShort              varLong Map
146  County Classifications  LowEducation2000  Low education, 2000   y

https://www.kaggle.com/datasets/sergejnuss/united-states-cities-database  no urban density available
https://www.kaggle.com/datasets/claygendron/us-household-income-by-zip-code-2021-2011
https://www.kaggle.com/datasets/danielbethell/adult-incomes-in-the-united-states?select=adult.data

https://population.un.org/wup/Download/Files/WUP2018-F01-Total_Urban_Rural.xls

https://www.kaggle.com/datasets/ramjasmaurya/unicorn-startups    2007-2022

https://api.census.gov/data/2023/acs/acs1/subject?get=group(S1501)&ucgid=0100000US

In [132]:
import pandas as pd
df_ea = pd.read_excel('https://query.data.world/s/flhwzvova4hwvxlsaraeblo3ra3hhe?dws=00000')

In [194]:
df_ea.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,numerator,denominator,estimate,LL_95CI,UL_95CI,SE,RSE,CA_decile,CA_RR,version
0,355,Percent of population age 25 and up with a fou...,2000,3.0,AfricanAm,CA,6,California,NaN,NaN,...,224727.0,1302388.0,17.3,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
1,355,Percent of population age 25 and up with a fou...,2000,1.0,AIAN,CA,6,California,NaN,NaN,...,15746.0,113984.0,13.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
2,355,Percent of population age 25 and up with a fou...,2000,2.0,Asian,CA,6,California,NaN,NaN,...,1008647.0,2415154.0,41.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
3,355,Percent of population age 25 and up with a fou...,2000,4.0,Latino,CA,6,California,NaN,NaN,...,425972.0,5500767.0,7.7,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
4,355,Percent of population age 25 and up with a fou...,2000,7.0,Multiple,CA,6,California,NaN,NaN,...,133828.0,499849.0,26.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018

In [137]:
df_ea.columns

Index(['ind_id', 'ind_definition', 'reportyear', 'race_eth_code',
       'race_eth_name', 'geotype', 'geotypevalue', 'geoname', 'county_name',
       'county_fips', 'region_name', 'region_code', 'strata_one_code',
       'strata_one_name', 'strata_two_code', 'strata_two_name', 'numerator',
       'denominator', 'estimate', 'LL_95CI', 'UL_95CI', 'SE', 'RSE',
       'CA_decile', 'CA_RR', 'version'],
      dtype='object')

In [142]:
df_ea.estimate.unique()

array([17.3       , 13.8       , 41.8       , ..., 33.69111273,
       41.49287898, 38.17125743])

In [144]:
import censusdata

In [155]:
df_census = censusdata.download("acs5",2022, censusdata.censusgeo([('nation', '010')]),["010XX00US","$8600000"])

ValueError: Unexpected response (URL: https://api.census.gov/data/2022/acs/acs5?get=NAME,010XX00US,$8600000&for=nation:010): error: unknown/unsupported geography hierarchy

### ETL pipeline

In [274]:
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()

dataset_name = "arindam235/startup-investments-crunchbase"

destination_path_vc = "../data/startup_VCs/"

# destination_path_gdp = "../data/gdp/"
destination_path_hh_income = "../data/household_income/"
destination_path_unicorn_startups = "../data/unicorn-startups/"
destination_path_us_cities = "../data/us_cities/"

In [275]:
# # Download dataset
# api.dataset_download_files("arindam235/startup-investments-crunchbase", path=destination_path_vc, unzip=True,force=True)
## api.dataset_download_files("luxoloshilofunde/life-expectancy-vs-gdp-19502018", path=destination_path_gdp, unzip=True,force=True)
# api.dataset_download_files("claygendron/us-household-income-by-zip-code-2021-2011", path=destination_path_hh_income, unzip=True,force=True)
# api.dataset_download_files("ramjasmaurya/unicorn-startups", path=destination_path_unicorn_startups, unzip=True,force=True)
api.dataset_download_files("sergejnuss/united-states-cities-database", path=destination_path_us_cities, unzip=True,force=True)

Dataset URL: https://www.kaggle.com/datasets/sergejnuss/united-states-cities-database

In [276]:
df_vc = pd.read_csv(os.path.join(destination_path_vc, "investments_VC.csv"),encoding="ISO-8859-1")
# df_gdp = pd.read_csv(os.path.join(destination_path_gdp, "Life Expectancy vs GDP 1950-2018.csv"),encoding="ISO-8859-1")
df_hhi = pd.read_csv(os.path.join(destination_path_hh_income, "us_income_zipcode.csv"),encoding="ISO-8859-1")
df_ucs = pd.read_csv(os.path.join(destination_path_unicorn_startups, "unicorns till sep 2022.csv"),encoding="ISO-8859-1",parse_dates=[3])
df_us_cities = pd.read_csv(os.path.join(destination_path_us_cities, "uscities.csv"),encoding="ISO-8859-1")

In [285]:
df_us_cities['zips'] = df_us_cities.zips.str.split()

In [290]:
df_us_cities = df_us_cities.drop(["source","military","incorporated","timezone","ranking","id"],axis=1)

In [330]:
df_ucs['founded_date'] = pd.to_datetime(df_ucs['Date Joined'])

In [339]:
df_ucs.rename(columns={ df_ucs.columns[4]: "city" }, inplace = True)

C:\Users\Chris\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [338]:
df_ucs = df_ucs[df_ucs.Country=="United States"]

In [267]:
df_ucs.reset_index(drop=True, inplace=True)

In [291]:
df_ucs.head()

,Company,Valuation ($B),Date Joined,Country,CityÃ‚,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [297]:
hhi_columns_to_drop = []
for i in df_hhi.columns:
    if "Error" in i:
        hhi_columns_to_drop.append(i)

In [299]:
df_hhi.drop(hhi_columns_to_drop,axis=1,inplace=True)

In [327]:
df_hhi = df_hhi[list(df_hhi.columns[:16]) + list(df_hhi.columns[-1:])]

In [336]:
df_hhi.Geography

0         860Z200US00601
1         860Z200US00602
2         860Z200US00603
3         860Z200US00606
4         860Z200US00610
               ...
364993    8600000US99923
364994    8600000US99925
364995    8600000US99926
364996    8600000US99927
364997    8600000US99929
Name: Geography, Length: 364998, dtype: object

In [342]:
df_ucs.Industry.unique()

array(['Other', 'Fintech', 'Supply chain, logistics, & delivery',
       'Data management & analytics', 'E-commerce & direct-to-consumer',
       'Internet software & services', 'Health',
       'Artificial intelligence', 'Consumer & retail', 'Cybersecurity',
       'Mobile & telecommunications', 'Auto & transportation', 'Travel',
       'Hardware', 'Edtech', 'Artificial Intelligence'], dtype=object)

In [344]:
df_ucs.city

1           Hawthorne
3       San Francisco
6       San Francisco
7       San Francisco
9                Cary
            ...
1179      Morrisville
1182          Chicago
1183       Burlington
1184    San Francisco
1185        Las Vegas
Name: city, Length: 636, dtype: object

In [346]:
df_hhi.Geography

0         860Z200US00601
1         860Z200US00602
2         860Z200US00603
3         860Z200US00606
4         860Z200US00610
               ...
364993    8600000US99923
364994    8600000US99925
364995    8600000US99926
364996    8600000US99927
364997    8600000US99929
Name: Geography, Length: 364998, dtype: object

In [368]:
# df_us_cities[df_us_cities['zips'].apply(lambda x: isinstance(x, list) and "00601" in x if x is not None else False)]

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,zips
7329,Adjuntas,Adjuntas,PR,Puerto Rico,72001,Adjuntas,18.1638,-66.7235,4258,2192,[00601]

In [370]:
df_us_cities_zip = df_us_cities.explode("zips")

In [371]:
df_us_cities_zip[df_us_cities_zip['zips']=="00601"]

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,zips
7329,Adjuntas,Adjuntas,PR,Puerto Rico,72001,Adjuntas,18.1638,-66.7235,4258,2192,00601

In [385]:
df_hhi['zip_code'] = df_hhi.ZIP.astype(str).str.zfill(5)

C:\Users\Chris\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [386]:
df_hhi

,ZIP,Geography,Geographic Area Name,Households,"Households Less Than $10,000","Households $10,000 to $14,999","Households $15,000 to $24,999","Households $25,000 to $34,999","Households $35,000 to $49,999","Households $50,000 to $74,999","Households $75,000 to $99,999","Households $100,000 to $149,999","Households $150,000 to $199,999","Households $200,000 or More",Households Median Income (Dollars),Households Mean Income (Dollars),Year,zip_code
0,601,860Z200US00601,ZCTA5 00601,5397.0,33.2,15.7,23.9,13.4,8.7,3.5,0.7,0.9,0.0,0.0,15292.0,19468.0,2021.0,00601
1,602,860Z200US00602,ZCTA5 00602,12858.0,27.1,12.7,20.5,14.3,10.9,8.2,3.3,2.0,1.0,0.0,18716.0,27778.0,2021.0,00602
2,603,860Z200US00603,ZCTA5 00603,19295.0,32.1,13.4,17.2,9.9,9.3,10.2,4.1,2.5,0.6,0.7,16789.0,29102.0,2021.0,00603
3,606,860Z200US00606,ZCTA5 00606,1968.0,28.4,13.3,23.3,15.4,11.0,7.7,0.7,0.3,0.0,0.0,18835.0,22236.0,2021.0,00606
4,610,860Z200US00610,ZCTA5 00610,8934.0,20.5,13.2,23.3,15.7,11.5,9.8,3.4,1.7,0.5,0.4,21239.0,29555.0,2021.0,00610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364993,99923,8600000US99923,ZCTA5 99923,62.0,0.0,6.5,43.5,0.0,33.9,16.1,0.0,0.0,0.0,0.0,27500.0,32189.0,2011.0,99923
364994,99925,8600000US99925,ZCTA5 99925,345.0,2.0,4.9,18.0,12.2,13.9,22.3,6.4,18.0,2.3,0.0,43125.0,57100.0,2011.0,99925
364995,99926,8600000US99926,ZCTA5 99926,577.0,2.9,6.9,15.4,6.1,28.8,17.0,10.4,8.0,2.4,2.1,45216.0,56606.0,2011.0,99926
364996,99927,8600000US99927,ZCTA5 99927,43.0,20.9,27.9,20.9,23.3,0.0,0.0,0.0,0.0,7.0,0.0,17639.0,28851.0,2011.0,99927
364997,99929,8600000US99929,ZCTA5 99929,996.0,4.5,7.2,9.1,13.6,15.2,16.3,12.1,13.5,3.3,5.2,50286.0,71802.0,2011.0,99929

In [387]:
df_ucs

,Company,Valuation ($B),Date Joined,Country,city,Industry,Investors,founded_date
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012-12-01
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014-01-23
6,Instacart,$39,12/30/2014,United States,San Francisco,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & By...",2014-12-30
7,Databricks,$38,2/5/2019,United States,San Francisco,Data management & analytics,"Andreessen Horowitz, New Enterprise Associates...",2019-02-05
9,Epic Games,$31.50,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",2018-10-26
...,...,...,...,...,...,...,...,...
1179,JupiterOne,$1,6/2/2022,United States,Morrisville,Cybersecurity,"Bain Capital Ventures, Splunk Ventures, Cisco ...",2022-06-02
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu...",2022-06-21
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr...",2022-07-05
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective",2022-07-12
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels",2022-07-27

In [390]:
df_ucs.city.unique()

array(['Hawthorne', 'San Francisco', 'Cary', 'Jacksonville',
       'Philadelphia', 'New York', 'Waltham', 'San Diego', 'Roseville',
       'Walpole', 'Boston', 'Glendale', 'Kirkland', 'Mountain View',
       'Fremont', 'San Jose', 'San Mateo', 'Chicago', 'Irving',
       'Santa Clara', 'Pittsburgh', 'Palo Alto', 'Los Angeles', 'Hoboken',
       'Brooklyn', 'Pflugerville', 'Oakland', 'Atlanta', 'Bellevue',
       'Irvine', 'Burlingame', 'Seattle', 'Denver', 'Eden Prairie',
       'Inglewood', 'Sunnyvale', 'Redwood City', 'El Segundo', 'Columbus',
       'Carlsbad', 'Los Altos', 'San Carlos', 'Miami', 'Detroit', 'Bend',
       'Culver City', 'Carson City', 'Marina del Rey', 'Santa Monica',
       'San Ramon', 'Redmond', 'Englewood Cliffs', 'Alameda',
       'Sacramento', 'Hayward', 'Houston', 'Jersey City', 'South Jordan',
       'Westerville', 'Lehi', 'Fort Lee', 'Austin', 'Chatham',
       'South San Francisco', 'Scottsdale', 'Dallas', 'Raleigh',
       'Louisville', 'Burlington', 'McLean', 'Madison', 'Columbia',
       'Foster City', 'South Burlington', 'Orlando', 'Somerville',
       'Goleta', 'Pennsauken', 'Plantation', 'Portola Valley',
       'Cambridge', 'Bethesda', 'Boca Raton', 'Portland',
       'Greenwood Village', 'Hanover', 'Northbrook', 'Boulder',
       'Santa Barbara', 'Draper', 'Cincinnati', 'Zephyr Cove',
       'Nashville', 'DC', 'Santa Cruz', 'Ambler', 'Pleasanton',
       'Framingham', 'Encinitas', 'Long Beach', 'Berkeley',
       'Sherman Oaks', 'Boise', 'Brookline', 'Washington', 'Princeton',
       'Salt Lake City', 'Washington DC', 'Tustin', 'Islandia', 'Quincy',
       'Sarasota', 'Fort Mill', 'Charlotte', 'Menlo Park', 'Leawood',
       'Englewood', 'Colorado Springs', 'Wilmington', 'Cedar Park',
       'Berkeley Heights', 'Lincoln', 'Arlington', 'Brisbane', 'Dublin',
       'Bellingham', 'Herndon', 'Tampa', 'Milpitas', 'Venice', 'Torrance',
       'Morrisville', 'Las Vegas'], dtype=object)

In [401]:
len(set(df_us_cities.city.unique()).intersection(set(df_ucs.city.unique())))

126

In [398]:
len(df_us_cities.city.unique()),len(df_ucs.city.unique())

(19090, 133)

In [ ]:
df_us_cities=df_us_cities.iloc[df_us_cities.groupby('city')['population'].idxmax()]

In [458]:
final_df = pd.merge(df_ucs, df_us_cities, on='city', how='inner')

In [459]:
columns_to_drop = ["Investors","Date Joined"]

final_df.drop(columns=columns_to_drop,inplace=True)

In [460]:
final_df

,Company,Valuation ($B),Country,city,Industry,founded_date,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,zips
0,SpaceX,$127,United States,Hawthorne,Other,2012-12-01,Hawthorne,CA,California,6037,Los Angeles,33.9146,-118.3476,86068,5463,"[90250, 90251, 90310]"
1,Epirus,$1.35,United States,Hawthorne,Other,2022-02-14,Hawthorne,CA,California,6037,Los Angeles,33.9146,-118.3476,86068,5463,"[90250, 90251, 90310]"
2,Stripe,$95,United States,San Francisco,Fintech,2014-01-23,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
3,Instacart,$39,United States,San Francisco,"Supply chain, logistics, & delivery",2014-12-30,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
4,Databricks,$38,United States,San Francisco,Data management & analytics,2019-02-05,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,Tarana Wireless,$1,United States,Milpitas,Mobile & telecommunications,2022-03-23,Milpitas,CA,California,6085,Santa Clara,37.4339,-121.8921,84196,2381,[95035]
623,Genies,$1,United States,Venice,Internet software & services,2022-04-12,Venice,FL,Florida,12115,Sarasota,27.1163,-82.4135,23985,614,"[34285, 34292, 34275]"
624,Divergent 3D,$1,United States,Torrance,Auto & transportation,2022-04-25,Torrance,CA,California,6037,Los Angeles,33.8346,-118.3417,143592,2701,"[90277, 90501, 90503, 90505, 90504, 90507, 905..."
625,JupiterOne,$1,United States,Morrisville,Cybersecurity,2022-06-02,Morrisville,NC,North Carolina,37183,Wake,35.8367,-78.8348,28846,1277,[27560]
626,Unstoppable Domains,$1,United States,Las Vegas,Internet software & services,2022-07-27,Las Vegas,NV,Nevada,32003,Clark,36.2333,-115.2654,2104198,1773,"[89107, 89106, 89104, 89102, 89101, 89108, 891..."

In [464]:
final_df[final_df.Company=="Epirus"]

,Company,Valuation ($B),Country,city,Industry,founded_date,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,zips
1,Epirus,$1.35,United States,Hawthorne,Other,2022-02-14,Hawthorne,CA,California,6037,Los Angeles,33.9146,-118.3476,86068,5463,"[90250, 90251, 90310]"

In [468]:
df_hhi.drop(columns=["ZIP"],inplace=True)

In [497]:
df_hhi

,Geography,Geographic Area Name,Households,"Households Less Than $10,000","Households $10,000 to $14,999","Households $15,000 to $24,999","Households $25,000 to $34,999","Households $35,000 to $49,999","Households $50,000 to $74,999","Households $75,000 to $99,999","Households $100,000 to $149,999","Households $150,000 to $199,999","Households $200,000 or More",Households Median Income (Dollars),Households Mean Income (Dollars),Year,zip_code
0,860Z200US00601,ZCTA5 00601,5397.0,33.2,15.7,23.9,13.4,8.7,3.5,0.7,0.9,0.0,0.0,15292.0,19468.0,2021.0,00601
1,860Z200US00602,ZCTA5 00602,12858.0,27.1,12.7,20.5,14.3,10.9,8.2,3.3,2.0,1.0,0.0,18716.0,27778.0,2021.0,00602
2,860Z200US00603,ZCTA5 00603,19295.0,32.1,13.4,17.2,9.9,9.3,10.2,4.1,2.5,0.6,0.7,16789.0,29102.0,2021.0,00603
3,860Z200US00606,ZCTA5 00606,1968.0,28.4,13.3,23.3,15.4,11.0,7.7,0.7,0.3,0.0,0.0,18835.0,22236.0,2021.0,00606
4,860Z200US00610,ZCTA5 00610,8934.0,20.5,13.2,23.3,15.7,11.5,9.8,3.4,1.7,0.5,0.4,21239.0,29555.0,2021.0,00610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364993,8600000US99923,ZCTA5 99923,62.0,0.0,6.5,43.5,0.0,33.9,16.1,0.0,0.0,0.0,0.0,27500.0,32189.0,2011.0,99923
364994,8600000US99925,ZCTA5 99925,345.0,2.0,4.9,18.0,12.2,13.9,22.3,6.4,18.0,2.3,0.0,43125.0,57100.0,2011.0,99925
364995,8600000US99926,ZCTA5 99926,577.0,2.9,6.9,15.4,6.1,28.8,17.0,10.4,8.0,2.4,2.1,45216.0,56606.0,2011.0,99926
364996,8600000US99927,ZCTA5 99927,43.0,20.9,27.9,20.9,23.3,0.0,0.0,0.0,0.0,7.0,0.0,17639.0,28851.0,2011.0,99927
364997,8600000US99929,ZCTA5 99929,996.0,4.5,7.2,9.1,13.6,15.2,16.3,12.1,13.5,3.3,5.2,50286.0,71802.0,2011.0,99929

In [477]:
final_df

,Company,Valuation ($B),Country,city,Industry,founded_date,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,zips
0,SpaceX,$127,United States,Hawthorne,Other,2012-12-01,Hawthorne,CA,California,6037,Los Angeles,33.9146,-118.3476,86068,5463,"[90250, 90251, 90310]"
1,Epirus,$1.35,United States,Hawthorne,Other,2022-02-14,Hawthorne,CA,California,6037,Los Angeles,33.9146,-118.3476,86068,5463,"[90250, 90251, 90310]"
2,Stripe,$95,United States,San Francisco,Fintech,2014-01-23,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
3,Instacart,$39,United States,San Francisco,"Supply chain, logistics, & delivery",2014-12-30,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
4,Databricks,$38,United States,San Francisco,Data management & analytics,2019-02-05,San Francisco,CA,California,6075,San Francisco,37.7562,-122.4430,3592294,7256,"[94130, 94131, 94132, 94133, 94134, 94109, 941..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,Tarana Wireless,$1,United States,Milpitas,Mobile & telecommunications,2022-03-23,Milpitas,CA,California,6085,Santa Clara,37.4339,-121.8921,84196,2381,[95035]
623,Genies,$1,United States,Venice,Internet software & services,2022-04-12,Venice,FL,Florida,12115,Sarasota,27.1163,-82.4135,23985,614,"[34285, 34292, 34275]"
624,Divergent 3D,$1,United States,Torrance,Auto & transportation,2022-04-25,Torrance,CA,California,6037,Los Angeles,33.8346,-118.3417,143592,2701,"[90277, 90501, 90503, 90505, 90504, 90507, 905..."
625,JupiterOne,$1,United States,Morrisville,Cybersecurity,2022-06-02,Morrisville,NC,North Carolina,37183,Wake,35.8367,-78.8348,28846,1277,[27560]
626,Unstoppable Domains,$1,United States,Las Vegas,Internet software & services,2022-07-27,Las Vegas,NV,Nevada,32003,Clark,36.2333,-115.2654,2104198,1773,"[89107, 89106, 89104, 89102, 89101, 89108, 891..."

In [496]:
final_df_exploded = final_df.explode('zips').rename(columns={'zips': 'zip_code'})

In [495]:
merged_df = df_hhi.merge(final_df_exploded, on='zip_code', how='inner')

In [499]:
merged_df.city

0          Framingham
1          Framingham
2          Framingham
3          Framingham
4          Framingham
             ...
384050    Los Angeles
384051    Los Angeles
384052    Los Angeles
384053    Los Angeles
384054    Los Angeles
Name: city, Length: 384055, dtype: object

In [511]:
final_merged_city_hhi_vc = merged_df.groupby("Company").first()

In [518]:
final_merged_city_hhi_vc = final_merged_city_hhi_vc.reset_index()

In [520]:
final_merged_city_hhi_vc.describe()

,Households,"Households Less Than $10,000","Households $10,000 to $14,999","Households $15,000 to $24,999","Households $25,000 to $34,999","Households $35,000 to $49,999","Households $50,000 to $74,999","Households $75,000 to $99,999","Households $100,000 to $149,999","Households $150,000 to $199,999","Households $200,000 or More",Households Median Income (Dollars),Households Mean Income (Dollars),Year,county_fips,lat,lng,population,density
count,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.00000,625.0,625.000000,625.000000,625.000000,6.250000e+02,625.000000
mean,14008.745600,5.871200,6.300000,6.020640,5.322880,8.228000,12.161600,9.608160,15.048800,9.813600,21.648640,97927.641600,151869.41280,2021.0,18553.889600,38.199574,-103.517764,5.348962e+06,5373.150400
std,6243.311965,3.098682,5.383784,3.054144,2.913151,3.386796,4.085367,3.031065,3.419927,3.058446,13.536627,49014.974765,76291.30976,0.0,15667.238197,3.529168,21.743809,6.640189e+06,3554.892624
min,0.000000,0.000000,0.000000,0.600000,1.300000,0.000000,0.000000,3.900000,3.400000,0.000000,0.000000,21180.000000,45103.00000,2021.0,4013.000000,25.539600,-122.650000,4.340000e+02,78.000000
25%,9685.000000,3.300000,2.000000,3.900000,3.300000,6.500000,11.200000,7.400000,12.300000,8.100000,14.100000,55888.000000,104087.00000,2021.0,6075.000000,37.400000,-122.443000,1.243450e+05,1792.000000
50%,14273.000000,7.200000,3.400000,5.400000,5.200000,8.400000,11.600000,9.400000,14.900000,10.300000,19.300000,100771.000000,134321.00000,2021.0,6085.000000,37.756200,-118.406800,3.592294e+06,5532.000000
75%,19213.000000,7.500000,14.500000,8.900000,6.500000,9.200000,12.900000,11.200000,16.900000,11.500000,25.200000,110536.000000,170154.00000,2021.0,36061.000000,40.694300,-74.027900,5.449398e+06,7256.000000
max,37699.000000,26.100000,16.100000,18.600000,28.800000,20.700000,27.800000,18.800000,30.800000,27.600000,61.200000,250000.000000,508208.00000,2021.0,55025.000000,48.754300,-71.018300,1.871322e+07,16268.000000

In [ ]:
final_merged_city_hhi_vc

In [492]:
# final_df_exploded

In [493]:
# df_hhi

In [525]:
!py -3.7 -m pip freeze

absl-py @ file:///tmp/build/80754af9/absl-py_1607439979954/work
accelerate==0.13.2
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.12
albumentations==1.2.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
antlr4-python3-runtime==4.8
argh==0.26.2
argon2-cffi @ file:///C:/ci/argon2-cffi_1596828549974/work
asgiref==3.4.1
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid @ file:///C:/ci/astroid_1592481955828/work
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.4.1
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
autogluon.common==0.6.2
autogluon.core==0.6.2
autogluon.features==0.6.2
autogluon.multimodal==0.6.2
autogluon.tabular==0.6.2
autogluon.text==0.6.2
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
awswrangler==1.5.0
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt @ file:///C:/ci/bcrypt_1597918112552/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bitarray @ file:///C:/ci/bitarray_1598885049384/work
bkcharts==0.2
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blinker==1.4
blis==0.4.1
bokeh==2.1.1
boto==2.49.0
boto3==1.18.41
botocore==1.21.41
Bottleneck==1.3.2
brotlipy==0.7.0
CacheControl==0.12.6
cachetools @ file:///tmp/build/80754af9/cachetools_1607706694405/work
catalogue==1.0.0
catboost==1.1.1
CensusData==1.15.post1
certifi==2024.8.30
cffi @ file:///C:/ci/cffi_1600699250966/work
chardet==3.0.4
charset-normalizer==3.1.0
chroma-py==0.1.0.dev1
cld2-cffi==0.1.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
cmdstanpy==0.4.0
colorama==0.4.3
coloredlogs==15.0.1
colour==0.1.5
comtypes==1.1.7
conda==22.9.0
conda-build==3.18.11
conda-package-handling==1.7.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
convertdate==2.2.0
cryptography @ file:///C:/ci/cryptography_1601046913206/work
cycler==0.11.0
cymem==2.0.3
Cython @ file:///C:/b/abs_0438epndxm/croots/recipe/cython_1663692771227/work
cytoolz==0.11.0
dask==2021.11.2
datasets==2.12.0
decorator==4.4.2
defusedxml==0.7.1
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
dill==0.3.4
distlib==0.3.6
distributed==2021.11.2
Django==3.2.7
docutils==0.16
emoji==0.5.4
emot==2.1
entrypoints==0.3
ephem==3.7.7.1
et-xmlfile==1.0.1
evaluate==0.3.0
fairscale==0.4.6
fastai==2.7.12
fastcache==1.1.0
fastcore==1.5.29
fastdownload==0.0.7
fastparquet==0.3.3
fastprogress==1.0.3
filelock==3.0.12
findspark==1.3.0
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==1.1.2
flatbuffers==23.1.21
frozenlist==1.3.3
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
future==0.18.2
gast==0.3.3
gensim==3.8.3
geojson @ file:///C:/Users/Chris/Desktop/systems/AI-growth/geojson-2.5.0-py2.py3-none-any.whl
gevent @ file:///C:/ci/gevent_1601397624717/work
glob2==0.7
gluonts==0.11.12
gmpy2==2.0.8
google-auth @ file:///tmp/build/80754af9/google-auth_1600960338579/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1603929124518/work
google-pasta==0.2.0
GPUtil==1.4.0
graphviz==0.8.4
greenlet @ file:///C:/ci/greenlet_1600874076725/work
grpcio==1.43.0
h5py==2.10.0
HeapDict==1.0.1
holidays==0.10.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
huggingface-hub==0.14.1
humanfriendly==10.0
hyperopt==0.2.7
hypothesis==5.5.4
idna==2.6
image==1.5.33
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig==2.0.0
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1598883894321/work
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso3166==1.0.1
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.11.2
jmespath==0.9.5
joblib==1.2.0
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupyterlab-widgets==3.0.8
kaggle==1.6.17
kagglehub==0.2.9
Keras @ file:///tmp/build/80754af9/keras_split_1593112142734/work
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
keyring @ file:///C:/ci/keyring_1601488971022/work
kiwisolver==1.4.4
langdetect==1.0.8
lazy-object-proxy==1.4.3
libarchive-c==2.9
lightgbm==3.3.5
line-profiler==4.1.3
livelossplot==0.5.4
llvmlite==0.34.0
locket==0.2.0
LunarCalendar==0.0.9
lxml @ file:///C:/ci/lxml_1594826938446/work
mapbox==0.18.0
mapboxgl @ file:///C:/Users/Chris/Desktop/systems/AI-growth/mapboxgl-0.10.2-py2.py3-none-any.whl
Markdown @ file:///C:/ci/markdown_1605111187600/work
markdown-it-py==2.2.0
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
matplotlib==3.4.3
mccabe==0.6.1
mdurl==0.1.2
mechanize==0.4.5
menuinst==1.4.16
mistune @ file:///C:/ci/mistune_1594373272338/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
model-index==0.1.11
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
mpmath==1.1.0
msgpack==1.0.0
multidict==6.0.4
multipledispatch==0.6.0
multiprocess==0.70.12.2
murmurhash==1.0.2
mxnet==1.7.0.post2
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601914921407/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nlpaug==1.1.10
nlppreprocess==1.0.2
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose @ file:///C:/ci/nose_1594377973236/work
notebook @ file:///C:/ci/notebook_1601494955742/work
nptyping==1.4.4
numba==0.51.2
numexpr==2.7.1
numpy==1.21.2
numpydoc==0.9.2
oauthlib==3.1.0
olefile==0.46
omegaconf==2.1.2
onnxruntime==1.13.1
opencv-python==4.4.0.44
opencv-python-headless==4.5.3.56
opendatasets==0.1.22
openmim==0.2.1
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
opt-einsum==3.1.0
ordered-set==4.1.0
packaging==20.4
pandas==1.3.5
pandocfilters==1.4.2
paramiko @ file:///tmp/build/80754af9/paramiko_1598886428689/work
parso==0.5.2
partd==1.1.0
path @ file:///C:/ci/path_1596940809557/work
pathlib2 @ file:///C:/ci/pathlib2_1594381094851/work
pathos==0.2.8
pathtools==0.1.2
patsy==0.5.3
pep8==1.7.1
pexpect @ file:///C:/ci/pexpect_1594383465186/work
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow==7.0.0
pkginfo==1.5.0.1
plac==1.1.3
platformdirs==3.5.1
plotly==4.5.4
pluggy==1.2.0
ply==3.11
polyline==1.4.0
pox==0.3.0
ppft==1.6.6.4
preprocessor==1.1.3
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.20.3
protobuf3-to-dict==0.1.5
psutil==5.9.5
psycopg2-binary==2.8.5
py @ file:///tmp/build/80754af9/py_1593446248552/work
py4j==0.10.9.7
pyarrow==12.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycountry==19.8.18
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycurl==7.43.0.6
pydantic==1.10.8
pyDeprecate==0.3.2
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pyflakes==2.2.0
Pygments==2.15.1
PyJWT==1.7.1
pylint @ file:///C:/ci/pylint_1598605958085/work
PyMeeus==0.3.7
PyMySQL==0.9.3
PyNaCl @ file:///C:/ci/pynacl_1595009241355/work
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600123688363/work
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pystan==2.19.1.1
pytest==7.1.1
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server==0.31.7
python-slugify==8.0.4
pytorch-lightning==1.7.7
pytorch-metric-learning==1.3.2
pytz==2020.1
PyWavelets @ file:///C:/ci/pywavelets_1601658407053/work
pywin32==227
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1594392691209/work
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
qudida==0.0.4
ray==2.0.1
regex @ file:///C:/ci/regex_1602782614108/work
requests==2.18.4
requests-oauthlib==1.3.0
responses==0.12.0
retrying==1.3.3
rich==13.3.5
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
Rtree==0.9.4
ruamel-yaml==0.15.87
s3fs==0.4.2
s3transfer==0.5.0
sagemaker==2.59.1.post0
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.5.0
sentencepiece==0.1.99
seqeval==1.2.2
setuptools-git==1.2
Shapely==1.8.4
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
six==1.15.0
smart-open==5.2.1
smdebug-rulesconfig==1.0.1
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==2.2.4
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598374801163/work
sqlalchemy-redshift==0.7.9
sqlparse==0.4.2
srsly==1.0.2
statsmodels==0.13.5
sympy @ file:///C:/ci/sympy_1597083371142/work
tables==3.6.1
tabulate @ file:///C:/ci/tabulate_1657619049490/work
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.6.0
tensorboardX==2.6
tensorflow==2.3.0
tensorflow-estimator @ file:///tmp/build/80754af9/tensorflow-estimator_1599136169057/work/whl_temp/tensorflow_estimator-2.3.0-py2.py3-none-any.whl
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
thinc==7.4.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
thrift==0.13.0
tifffile==2021.11.2
timm==0.6.13
tokenizers==0.13.3
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tomli==2.0.1
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
torch==1.11.0
torchmetrics==0.8.2
torchtext==0.13.1
torchvision==0.12.0
tornado==6.0.4
tqdm==4.63.0
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
transformers==4.23.1
typed-ast==1.4.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
typish==1.9.3
udacity-dl==1.2.2
ujson==1.35
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.22
vaderSentiment==3.3.1
virtualenv==20.23.0
wasabi==0.6.0
watchdog @ file:///C:/ci/watchdog_1593446515400/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xgboost==1.6.2
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwings==0.20.7
xlwt==1.3.0
xmltodict==0.12.0
xxhash==3.2.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.9.2
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1602002379921/work
zope.event==4.5.0
zope.interface @ file:///C:/ci/zope.interface_1602002496598/work